<footer class="footer">
  <small>
    Users application by Rostislav Panin 2845679
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",  about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://github.com/rost2121">Github</a></li>
    </ul>
  </nav>
</footer>